.gallery-black-background {
    background-color: #313131;
    height: 450px;
    position: relative;
    z-index: 0;
}

.pseudo-nav-container {
    width: 100%;
}

.gallery-black-background > div> h5 {
    color: #C0A878;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 2em;
}

/* The links*/
.gallery-black-background > div > p > a:nth-of-type(n) {
    color: #989898;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: 1em;
}

.gallery-black-background > div > img:nth-of-type(n) {
    margin-top: 20px;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.gallery-white-background > div > a:nth-of-type(n) {
    background: transparent;
    border:1px solid red;
    margin: 5px;
    padding: 5px;
}

.previous-next-button-container > div > a > i:nth-of-type(n) {
    border: 1px solid #acacac;
}