* {
   background-color: #313131; 
}

.hotel-icon-container, .hotel-icon {
  height: 107px;
  background-color: #ffffff;
}

.hotel-brand {
  background-color: #ffffff;
}

nav {
  border-bottom: 1px solid #808080;
}

.navbar-nav {
  float: left;
}
                    /* navbar #1 */
.nav-item.nav-one {
  font-size: 15px;
  margin-right: 15px; /* add 40px of space between each link in top nav bar*/
}

.nav-item.nav-one:hover {
  border-bottom: 4px solid #ffffff;
}

                  /* navbar #2 */
.nav-item.nav-two {
  font-size: 15px;
  margin-right: 15px; /* add 40px of space between each link in top nav bar*/
}

.nav-item.nav-two:hover {
  border-bottom: 4px solid #ffffff; /*add a white indicator for the bottom of the navbar link */
}

.navbar-link {
  color: #808080;
}

.navbar a {
  color: #808080; 
}

.navbar a:hover {
  color: white; 
}

.nav-link.log-in {
  letter-spacing: 1px;
}

.nav-item.social-media a {
  margin-left: 1px;
  margin-right: 1px;
  width: 4px;
  height: 4px;
}

.nav-item.social-media a i {
  color: #808080;
}

.search-icon-container {
  width: 27px;
  height: 27px;
}

.form-inline {
  background-color: #313131;
  color: white;
  float: right;
}

/* Jumbotron Content*/
.percentage-text {
  color: #ffffff;
  font-size: 40px;
}

div.jumbotron {
  background-color: #313131;
  color: white;
}

.jumbotron-title {
  text-transform: uppercase;
  font-weight: bolder;
}

.explore {  /* explore it button*/
  color: #808080;
  font-size: 10px;
  background-color: #ffffff;
  border-radius: 100%;
}

/* Footer CSS */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #313131;
  color: white;
  text-align: center;
}

.page-footer {
  background-color: #313131;
  color: white;
}

.page-footer a {
  color: #ffffff;
}