body {
    background-image: url('../assets/images/light-woodshelf.jpg');
    width: 100%;
    z-index: 1;
    position: relative;
}

.navbar-fixed {
    top: 0;
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 70px;
    opacity: 0.9;
    border-bottom: 1px solid #525252;
    /* overflow: hidden;  // Hides the dropdown menu*/ 
}

/* FORM CSS */
input[type=text]{
    background: url('../assets/images/input-icon.png') 12px 11px no-repeat, linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #222222;
    position: relative;
    height: 36px;
    width: 300px;
    padding-left: 30px;
}

input[type=text]:focus {
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
    background: url('../assets/images/input-icon.png') 12px 11px no-repeat, #FFF;
}

input[type=text]::-webkit-input-placeholder {
    color: #999999;
} 

input[type=text]:-moz-placeholder {
    color: #999999;
}

.form-sortable-container {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 2em;
}

.navbar-fixed a:hover, .navbar-fixed:active {
    opacity: 1;
}

.form-container {
    border: 0.1em solid #ffffff;
    height: 450px;
    color: white;
}

.form-container, #sortable, #cube {
    font-family: 'Open Sans', sans-serif;
}

.media-body > h3, .media-body > p {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding: 0px;
    margin-left: 1em!important;
}

.media-left > img {
    margin: 1em;
}

.modal-container {
    display: none;
}

.modal-button {
    margin-top: 0.1em;
    margin-right: 0.4em;
}

.submit-button-add {
    margin-top: 0.1em;
    margin-right: 0.4em;
}

.reminder-text {
    font-size: 9px;
}

#sortable {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

#sortable ul {
    overflow-x: visible; 
    overflow-y: visible; 
}

#sortable li { 
    background-image: url('../assets/images/light-woodshelf.jpg'), linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%);
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1.4em;
    border: 1px solid #ffffff;
    color: #ffffff;
    filter: brightness(94%);


}

#sortable li:active { 
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1.4em;
    border: 1px solid #ffffff;
    color: #ffffff;
    /*box-shadow: 0px 0.5px 4px 2px #ffffff; */
    background: linear-gradient(to bottom right, rgba(250, 50, 50, 0.5), rgba(50, 150, 250, 0.5)), linear-gradient(to bottom left, blue 30px, transparent 150px);
    box-shadow: inset 0 0 10px 5px #969696;

}

#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}

#sortable li img {
    width: 100px;
    height: 100px;
    margin-left: 0.5em;
}

.container-fluid {
    margin-bottom: 1.5em;
    padding: 0!important;
}

/* CUBE CSS BELOW */
.cube-container {
    margin-top: 60px;
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

#cube {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotatecube 10s infinite;
    -moz-transform-style: preserve-3d;
    -moz-animation: rotatecube 10s infinite;
}

#cube div {
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    border: none;
    line-height: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

@-webkit-keyframes rotatecube {
    0% { -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg); }
    25% { -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg); }
    50% { -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    75% { -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg); }
    100% { -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg); }
}

@-moz-keyframes rotatecube {
    0% { -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg); }
    25% { -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg); }
    50% { -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    75% { -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg); }
    100% { -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg); }
}

.front {
    background: rgba(255,0,0,.5);
}

.back {
    background: rgba(0,255,0,.5);
}

.right {
    background: rgba(0,0,255,.5);
}

.left {
    background: rgba(0,255,255,.5);
}

.top {
    background: rgba(255,0,255,.5);
}

.bottom {
    background: rgba(255,255,0,.5);
}

#cube .front  {
    -webkit-transform: rotateY(0deg ) translateZ( 100px );
    -moz-transform: rotateY( 0deg ) translateZ( 100px );
}
#cube .back {
    -webkit-transform: rotateX( 180deg ) translateZ( 100px );
    -moz-transform: rotateX( 180deg ) translateZ( 100px );
}
#cube .right  {
    -webkit-transform: rotateY(  90deg ) translateZ( 100px );
    -moz-transform: rotateY(  90deg ) translateZ( 100px );
}
#cube .left   {
    -webkit-transform: rotateY( -90deg ) translateZ( 100px );
    -moz-transform: rotateY( -90deg ) translateZ( 100px );
}
#cube .top    {
    -webkit-transform: rotateX(  90deg ) translateZ( 100px );
    -moz-transform: rotateX(  90deg ) translateZ( 100px );
}
#cube .bottom {
    -webkit-transform: rotateX( -90deg ) translateZ( 100px );
    -moz-transform: rotateX( -90deg ) translateZ( 100px );
}



/* CARD CAROUSEL*/
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner
      .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner
      .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
      + .carousel-item,
    .carousel-inner
      .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
      + .carousel-item
      + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner
      .active.carousel-item
      + .carousel-item
      + .carousel-item
      + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left
      + .carousel-item
      + .carousel-item
      + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right
      + .carousel-item
      + .carousel-item
      + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }

    .carousel-inner> .carousel-item> a > img, .carousel-inner>.carousel-item>img, .figure>img, .img-responsive {
        max-width: 100%;
        max-height: auto;
        display: block;
    }

    .card > img {
        max-width: 100%;
        display: block;
        min-height: 432px;
    }

  }
  