/* Set the background color of body to tan */
body {
    width: 100%;
  }

    /* On screens that are 600px or less, set the background color to olive */
    @media screen and (max-width: 500px) {     
      ol.carousel-indicators {
          display: none;     
      }

      div.card.weather-card {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      div.row.boxes-row-one
      , div.row.boxes-row-two {
    
      }
    }


  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      
    }
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {

    }
  }

@media (max-width: $screen-xs-max) {
  .col-xs-auto { width: auto; }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .col-sm-auto { width: auto; }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .col-md-auto { width: auto; }
}
@media (min-width: $screen-lg-min) {
  .col-lg-auto { width: auto; }
}

/* NOTES */
/* 
Desktop size: 

Tablet Size : 

Phone Size: 
*/